# {{ ansible_managed }}

# do not bell on tab-completion
# set bell-style none

# allow the use of the Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# alternate mappings for "page up" and "page down" to search the history
"\e[5~": history-search-backward
"\e[6~": history-search-forward
