# -----------------------------------------------------------------------------
# {{ ansible_managed }}
#
# This is based in https://benincosa.com/?p=3235
# -----------------------------------------------------------------------------
gpg_socket="${HOME}/.gnupg/S.gpg-agent"

if [ ! -S gpg_socket ]; then
	eval "$(gpgconf --launch gpg-agent)"
fi
