" {{ ansible_managed }}

set autoindent              " indent a new line the same amount as the line just typed

set backupdir=~/.cache/vim " Directory to store backup files.

set tabstop=2               " number of columns occupied by a tab
set ttyfast                 " Speed up scrolling in Vim

set visualbell

set wildmode=longest,list   " get bash-like tab completions
