#!/bin/sh
#
# {{ ansible_managed }}
# Based on https://github.com/irreleph4nt/mkinitcpio-bluetooth/blob/master/bluetooth_install
#

type=bluetooth
PREREQ=""
prereqs() {
	echo "$PREREQ"
}

case ${1:-""} in
prereqs)
	prereqs
	exit 0
	;;
esac

. /usr/share/initramfs-tools/hook-functions

add_full_dir() {
	# Add a directory and all its contents, recursively, to the initcpio image.
	# No parsing is performed and the contents of the directory is added as is.
	#   $1: type
	#   $2: path to directory in the local system

	local p= type=$1 path=$2 localPath="$DESTDIR$2"

	if [ -n "$path" ] && [ -d "$path" ]; then
		mkdir -p "$localPath"

		for p in "$path"/*; do
			if [ -L $p ]; then
				ln -sfn "$(readlink "$p")" "$DESTDIR$p"
			elif [ -d $p ]; then
				add_full_dir "$type" "$p"
			elif [ -f $p ]; then
				copy_file "$type" "$p"
			fi
		done
	fi

	return 0
}

add_file() {
	local type=$1 path=$2 localPath="$DESTDIR$2"

	if [ -f "$2" ]; then
		mkdir -p "${localPath%/*}"
		copy_file "$type" "$path"
	fi

	return 0
}

force_load bluetooth

# modules:
for mod in bluetooth btrtl btintel btbcm bnep hidp btusb rfcomm; do
	manual_add_modules "$mod"
done

coreUsers="^root:.*|^systemd-.*|^messagebus:.*|bluetooth:.*"
udevOptions="^tty:.*|^uucp:.*|^kmem:.*|^input:.*|^video:.*|^audio:.*|^lp:.*|^disk:.*|^optical:.*|^storage:.*|^dbus:.*"
for file in group gshadow passwd shadow; do
	add_file $type "/etc/$file"
	sed -i -E '/'"${coreUsers}"'|'"${udevOptions}"'/!d' "$DESTDIR/etc/$file"
done

mkdir -p $DESTDIR/etc/dbus-1/session.d/
mkdir -p $DESTDIR/proc/
mkdir -p $DESTDIR/run/sdp/
mkdir -p $DESTDIR/run/dbus/
mkdir -p $DESTDIR/usr/bin/
mkdir -p $DESTDIR/usr/lib/
mkdir -p $DESTDIR/usr/lib/bluetooth/
mkdir -p $DESTDIR/usr/share/dbus-1/services/
mkdir -p $DESTDIR/usr/share/dbus-1/session.d/
mkdir -p $DESTDIR/usr/share/dbus-1/system-services/
mkdir -p $DESTDIR/var/lib/dbus/

add_full_dir $type /lib/lsb/init-functions.d
add_full_dir $type /sys/class/bluetooth
add_full_dir $type /var/lib/bluetooth

add_file $type /etc/bluetooth/main.conf
add_file $type /etc/dbus-1/system.d/bluetooth.conf
add_file $type /etc/default/dbus
add_file $type /etc/init.d/dbus
add_file $type /etc/machine-id
add_file $type /lib/lsb/init-functions
add_file $type /usr/lib/modprobe.d/bluetooth-usb.conf
add_file $type /usr/lib/modules-load.d/bluez.conf
add_file $type /usr/lib/sysusers.d/dbus.conf
add_file $type /usr/lib/tmpfiles.d/dbus.conf
add_file $type /usr/share/dbus-1/session.conf
add_file $type /usr/share/dbus-1/system.conf
add_file $type /usr/share/dbus-1/system-services/org.bluez.service

copy_exec /usr/bin/bluetoothctl
copy_exec /usr/bin/dbus-daemon
copy_exec /usr/bin/dbus-launch
copy_exec /usr/bin/dbus-uuidgen
copy_exec /usr/bin/id
copy_exec /usr/bin/mountpoint
copy_exec /bin/xargs
copy_exec /usr/lib/bluetooth/bluetoothd
copy_exec /usr/sbin/nologin
copy_exec /usr/sbin/groupadd
copy_exec /usr/sbin/start-stop-daemon
copy_exec /usr/sbin/useradd

ln -sfn "/etc/machine-id" "$DESTDIR/var/lib/dbus/machine-id"
ln -sfn "/run"            "$DESTDIR/var/run"

exit 0
