#!/bin/sh
#
# {{ ansible_managed }}
# Based on https://github.com/irreleph4nt/mkinitcpio-bluetooth/blob/master/bluetooth_hook
#

PREREQ="lvm,udev"
prereqs() {
	echo "$PREREQ"
}

case ${1:-""} in
prereqs)
	prereqs
	exit 0
	;;
esac

quiet=${quiet:-"no"}
. /scripts/functions
log_success_msg "Inside initramfs-tools/scripts/local-top/bluetooth"

if [ ! -x "/usr/lib/bluetooth/bluetoothd" ] && [ ! -x "/usr/bin/dbus-daemon" ]; then
	panic "bluetoothd or dbus-daemon executable are not found"
fi
log_success_msg "bluetoothd and dbus-daemon exist."

groupadd --gid 106 messagebus
useradd --gid messagebus --uid 103 --home-dir /nonexistent --shell /usr/sbin/nologin messagebus || true

log_begin_msg "Activating dbus..."
mkdir -p /run/dbus/
/etc/init.d/dbus status
/etc/init.d/dbus start
# This can be used instead of the init.d script.
#/usr/bin/dbus-daemon --system --syslog --print-address
log_end_msg
log_success_msg "dbus-daemon started"
/etc/init.d/dbus status

log_begin_msg "Activating bluetoothd..."
ps | grep /usr/lib/bluetooth/bluetoothd | grep -v grep | awk -F ' ' '{ print $1 }' | xargs --no-run-if-empty kill -9
/usr/lib/bluetooth/bluetoothd &
log_end_msg

exit 0
